*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.keystore
*.jks
build.ps1
.kotlin
**/build/
!src/**/build/
xcuserdata
node_modules/
